.topc{
  background-color: #E4f9f5;
  position: relative;
  padding-top: 100px;
  margin-bottom: 0;

}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;

  font-family: 'Dancing Script', cursive;
}
h2{

  font-family: 'Montserrat', sans-serif;
  font-size: 2.50rem;
  color: #66BFBF;
  font-weight: normal;
  padding: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #40514E;

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 250px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.pro{
  text-decoration: underline;

}
p{
    line-height: 2;
}
.karma{
  font-size: 10px;
}
.footer-link{
  color: #11999E;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;


}
.Abhijeet{
  width:20%;

}
.error{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.edu{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.clear{
  clear: left;
}
.clear2{
  clear: right;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.hello{
  margin: auto;
  width : 50%;
}
.bullets{
/*
border-color: #D3D3D3;

width: 4%;
}  */
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  border-color: #EAF6F6;
}
/* .footer{
  background-color: #66BFBF;
  margin-bottom: 0; */
/*  */
a {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.middle-container{
  margin: 100px 0;

}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.BUTTON_IEF {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #2BC4AD 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_IEF:hover {
   border: solid #2BC4AD 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
